{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow-sm p-4">

      <h3 class="mb-4 text-danger text-center">Login</h3>

      {% if form.errors %}
        <div class="alert alert-danger">
          Invalid username or password.
        </div>
      {% endif %}

      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="id_username" class="form-label">Username</label>
          <input type="text" name="username" autofocus required
                 class="form-control" id="id_username">
        </div>

        <div class="mb-3">
          <label for="id_password" class="form-label">Password</label>
          <input type="password" name="password" required
                 class="form-control" id="id_password">
        </div>

        <button type="submit" class="btn btn-danger w-100 rounded-pill">
          Login
        </button>
      </form>

      <p class="text-center mt-3">
        Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
      </p>

    </div>
  </div>
</div>
{% endblock %}
